<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/assets/styles.css">

  <title>{{meta.title}}</title>
</head>
<body>
  <header>
      <h1>{{meta.title}}</h1>
      <p>{{meta.description}}</p>
      <img src="/assets/img/lotte-hidding.jpg" alt="Lotte Hidding">
  </header>

  <main>
    {{content | safe}}
  </main>

  <footer>
    <a href="https://twitter.com/LotteHidding">Volg op Twitter</a>
  </footer>
</body>
</html>
