:root {
  --primary: #fff;
  --secondary: #08bdd0;
  --tertiary: #607044;
  --quartiary: #dd7f23;
  --base: #333;

  /*
  --secondary: #4bbebe; turquoise
  --tertiary: #986a3c; brown
  --quartiary: #005572; blue
*/
}
body {
  margin: 0;
  font-family: Garamond;
  font-size: 1.5em;
  line-height: 1.5;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--base);
  background-color: var(--primary);
  padding-bottom: 3em;
}
h2 {
  margin: 0 0 0.5em;
  color: var(--quartiary);
}
h3 {
  margin: 0 0 0.5em;
  color: var(--tertiary);
}
p {
  margin: 0 0 0.5em;
}
a {
  color: var(--base);
  text-decoration: none;
  transition: 0.25s;
}

a.back {
  display: block;
  transition: 0.25s;
}
a.back:hover {
  transform: translateX(-0.25rem);
}
img {
  max-width: 100%;
}
time {
  font-size: 0.75em;
}
table {
  font-size: 0.8em;
}
th {
  text-align: left;
}
body > * {
  padding: 1rem;
}
body > header {
  background-color: var(--secondary);
  position: relative;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 1.25;
}
body > header h1 {
  margin: 0;
  font-size: 15vw;
}
body > header p {
  font-style: italic;
  font-size: 7.5vw;
  margin: 0 0 0.5em;
}
body > header img {
  align-self: center;
  width: 15vw;
  border-radius: 50%;
  position: fixed;
  bottom: 0.25em;
  right: 1em;
  z-index: 10;
  box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.5);
}

body > main {
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  overflow: hidden;
}
article {
  border-top: 1px solid #eee;
  background-color: #fff;
  padding: 1em 1rem;
  margin: 0 -1rem;
  position: relative;
}
article header h3 {
  margin-right: 3.5em;
}
article header time {
  position: absolute;
  top: 0;
  right: 1rem;
  padding: 0.25em;
  color: #333;
}
article p {
}
body > footer {
  background-color: var(--tertiary);
  font-size: 1.5rem;
  position: fixed;
  bottom: 0;
  width: 100vw;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

body > footer a {
  color: white;
  font-weight: bold;
}

@media (min-width: 50em) {
  body {
    max-width: 50em;
    margin: 0 auto;
    background-color: #eee;
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
  body > * {
    padding: 1rem 5vw;
  }
  body > header h1 {
    font-size: 3em;
  }
  body > header p {
    font-size: 2em;
  }
  body > header img {
    position: absolute;
    right: 4rem;
    top: 2rem;
    width: 25vw;
  }
  body > main {
    padding-right: 35%;
  }
  body > footer {
    width: auto;
    align-self: flex-end;
    padding: 0.5em;
    right: 1em;
  }
}
